trigger:
- main
- develop
- feature/*
- release/*
- hotfix/*

pr:
- main
- develop
- feature/*
- release/*
- hotfix/*

pool:
  vmImage: 'ubuntu-latest'  # Volta para Microsoft-hosted

variables:
  buildConfiguration: 'Release'
  solution: 'Ambev.DeveloperEvaluation.sln'

jobs:
- job: BuildAndTest
  displayName: 'Build and Test'
  
  services:
    redis:
      image: redis:7-alpine
      ports:
        - 6379:6379
    mongo:
      image: mongo:7
      ports:
        - 27017:27017
      env:
        MONGO_INITDB_DATABASE: testdb
  
  steps:
  - checkout: self
  
  - task: UseDotNet@2
    displayName: 'Use .NET 8.0'
    inputs:
      packageType: 'sdk'
      version: '8.0.x'

  - script: dotnet restore $(solution)
    displayName: 'Restore dependencies'

  - script: dotnet build $(solution) --configuration $(buildConfiguration) --no-restore
    displayName: 'Build solution'

  - script: |
      dotnet test tests/Ambev.DeveloperEvaluation.Unit/Ambev.DeveloperEvaluation.Unit.csproj \
        --configuration $(buildConfiguration) \
        --no-build \
        --collect:"XPlat Code Coverage" \
        --logger trx \
        --results-directory $(Agent.TempDirectory)/TestResults
    displayName: 'Run Unit Tests'

  - script: |
      dotnet test tests/Ambev.DeveloperEvaluation.Integration/Ambev.DeveloperEvaluation.Integration.csproj \
        --configuration $(buildConfiguration) \
        --no-build \
        --collect:"XPlat Code Coverage" \
        --logger trx \
        --results-directory $(Agent.TempDirectory)/TestResults
    displayName: 'Run Integration Tests'
    env:
      ConnectionStrings__Redis: localhost:6379
      ConnectionStrings__MongoDB: mongodb://localhost:27017/testdb

  - script: |
      dotnet test tests/Ambev.DeveloperEvaluation.Functional/Ambev.DeveloperEvaluation.Functional.csproj \
        --configuration $(buildConfiguration) \
        --no-build \
        --collect:"XPlat Code Coverage" \
        --logger trx \
        --results-directory $(Agent.TempDirectory)/TestResults
    displayName: 'Run Functional Tests'
    env:
      ConnectionStrings__Redis: localhost:6379
      ConnectionStrings__MongoDB: mongodb://localhost:27017/testdb

  - task: PublishTestResults@2
    displayName: 'Publish Test Results'
    condition: always()
    inputs:
      testResultsFormat: 'VSTest'
      testResultsFiles: '$(Agent.TempDirectory)/TestResults/**/*.trx'
      failTaskOnFailedTests: true
      mergeTestResults: true

  - script: |
      dotnet tool install --global dotnet-reportgenerator-globaltool
      export PATH="$PATH:$HOME/.dotnet/tools"
      reportgenerator \
        -reports:$(Agent.TempDirectory)/TestResults/**/coverage.cobertura.xml \
        -targetdir:$(Build.SourcesDirectory)/coverage \
        -reporttypes:"HtmlInline_AzurePipelines;Cobertura"
    displayName: 'Generate Code Coverage Report'
    condition: succeededOrFailed()

  - task: PublishCodeCoverageResults@2
    displayName: 'Publish Code Coverage Results'
    condition: succeededOrFailed()
    inputs:
      codeCoverageTool: 'Cobertura'
      summaryFileLocation: '$(Build.SourcesDirectory)/coverage/Cobertura.xml'
      reportDirectory: '$(Build.SourcesDirectory)/coverage'